# openocd.cfg — STM32F407VG-Discovery
# Interface : ST-Link embarqué sur la carte Discovery
# Cible     : STM32F4x

source [find interface/stlink.cfg]
source [find target/stm32f4x.cfg]

# Vitesse de communication SWD (kHz)
adapter speed 2000

# Reset par le signal SRST
reset_config srst_only
